* {
  font-family:arial;
}
@media (max-width: 700px) {
  body:not(h1) {
    font-size: large;
  }

}
h1 {
  color:darkblue;
  text-align:center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}
#vote {
  position: fixed;
  bottom: 50%;
  margin-left: 20px;

 }
h2 {
   font-weight: bold;
 }
h3 {
  text-align: center;
  margin: 40px;
}

#image_block {
  display: flex;
  flex-wrap: wrap;
}
.description {
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  width: 500px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  font-weight: bold;
}

.container {
  font-weight: bold;
}

#nav {
  font-size: 20;
  text-align:center;
  border: 2px solid black;
  padding: 5px;
  background-color: lavender;
}

.row {
  padding: 30px;
}
.col-md-6 {
  background-color: linen;
  padding: 10px;
}
#row2 {
  text-align: left;
}
.p_row2 {
  text-align: center;
}
#inscrire > input {
  margin-bottom:10px;
}
ul a:visited {
  color: purple;
}
#foot {
  text-align: center;
  font-size: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: lightgrey;
  padding: 10px;
  margin-top: 20px;
}
#caroussel{
  width: 60%;
}
